<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	<classes>
		<class name="com.altius.automation.TestAutomation">
		    
		<methods>

		    <include name="beforeTest"></include>
			<include name="Login_invalid"></include>
			<include name="Login_valid"></include>
			<include name="Crminfo_Add"></include>
			<include name="Crminfo_Add_meal"></include>
			<include name="CRM_update"></include>
			<include name="CRM_view"></include>
			<include name="Software_setup"></include>
			<include name="Sw_setup_view"></include>
			<include name="Sw_setup_Edit"></include>
			<include name="individual_enrollment"></include>
	
		</methods>


		</class>
	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->